<div class="widgets">
    <div class="horizontal-scroll"
         ba-panel
         ba-panel-title="用例列表"
         ba-panel-class="with-scroll">
        <ul class="btn-list clearfix">
            <li><button type="button" class="btn btn-primary btn-with-icon" data-toggle="modal" ng-click="open()"><i class="ion-android-download"></i>新增</button></li>
            <li><button type="button" class="btn btn-default btn-with-icon"><i class="ion-stats-bars"></i>删除</button></li>
            <li><button type="button" class="btn btn-success btn-with-icon" ng-click="queryCases()"><i class="ion-android-checkmark-circle"></i>刷新</button></li>
        </ul>
        <table class="table" st-table="displayCaseData" st-safe-src="caseData">
            <thead>
            <tr class="sortable ">
                <th class="table-id">用例ID</th>
                <th st-sort="caseDetail">用例描述</th>
            </tr>
            <tr>
                <th><input st-search="caseId"/></th>
                <th><input st-search="caseDetail"/></th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayCaseData">
                <td class="table-id">{{item.caseId}}</td>
                <td>{{item.caseDetail}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>